body{
    box-sizing:border-box;
    background-color: #E5E5E5;
}
header {
    width: 100%;
    height: 80px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0px;
}

header img {
    height: 66%;
    padding-left: 22px;
}

header ion-icon{
    font-size: 40px;
    padding-right: 22px;
    cursor: pointer;
}

.input-box{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
}
.input-box::placeholder{
    padding-left: 17px;
}
footer ion-icon{
    position: fixed;
    bottom: 27px;
    right: 18px;
    font-size: 26px;
    cursor: pointer;
}

